%h2= "Configure #{@plugin.name} Plugin" 

- @plugin.configurator.fields.each do |field|
  %input{ :type => 'hidden', :name => 'plugin', :value => @plugin.name }
  = render_config_field(field)
%p
  %input.submit{ :value => 'Save', :type => 'submit' }