- if session[:identity_url]
  #banner
    %a{ :href => '/admin' }
      %img#logo{ :src => '/images/logo.png', :alt => 'Evil' } 
    %form{ :method => 'post', :action => '/openid/logout', :id => 'logout' }
      Logged in as 
      %em= session[:identity_url]
      %input.submit{ :type => 'submit', :value => 'Log out' }