!!!
%html
  %head
    %title Evil Admin
    %link{ :rel => 'stylesheet', :href => '/stylesheets/evil.css', :type => 'text/css' }
  %body
    #page
      #banner
        %h1 EVIL
        #content
          = yield
        #footer
          %form{ :method => 'post', :action => '/openid/logout' }
            %input{ :type => 'submit', :value => 'Log out' }
    %script{ :type => 'text/javascript', :src => '/javascripts/evil.js' }
      