!!!
%html
  %head
    %title Evil Admin
    %link{ :rel => 'stylesheet', :href => '/stylesheets/evil.css', :type => 'text/css' }
  %body
    = partial(:banner)
    #content
      = yield
    %script{ :type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/evil-lib.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/evil.js' }
      