!!!
%html
  %head
    %title Evil Admin
    %link{ :rel => 'stylesheet', :href => '/stylesheets/evil.css', :type => 'text/css' }
  %body
    #page
      #banner
        %h1 EVIL
        #content
          = yield
    %script{ :type => 'text/javascript', :src => '/javascripts/evil.js' }
      