%form{ :action => '/admin/openid/login', :id => 'login' }
  %p
    %img{ :src => '/images/logo.png', :alt => 'Evil' }
    %input#openid_url{ :name => 'openid_url' }
    %input.submit{ :type => 'submit', :value => 'Login' }