%form{ :action => "/admin/templates/#{@template.id}", :method => 'post' }
  %p
    %label
      Route
      %input{ :name => 'template[route]', :value => @template.route }
  %p
    %label
      Source
      %textarea{ :name => 'template[source]' }= @template.source
  %p
    %input.submit{ :value => 'Save', :type => 'submit' }