%form{ :action => '/admin/templates', :method => 'post' }
  %p
    %label{ :for => 'template_route' }
      Route
    %input#template_route.text{ :name => 'template[route]' }
  %p
    %label{ :for => 'template_source' }
      Source
    %textarea#template_route{ :name => 'template[source]' }
  %p
    %input.submit{ :value => 'Save', :type => 'submit' }