%form{ :action => '/admin/templates', :method => 'post' }
  %p
    %label
      Route
      %input{ :name => 'template[route]' }
  %p
    %label
      Source
      %textarea{ :name => 'template[source]' }
  %p
    %input.submit{ :value => 'Save', :type => 'submit' }