body {
  background: black;
  color: white;
  font-family: Monaco, Courier, fixed-width;
  text-align: center;
}

#page {
  width: 60%;
  margin: 3em auto;
  text-align: left;
  background: #333;
}

#banner {
  padding: 0.2em 1em;
}

#content {
  margin: 0.5em;
  padding: 0.5em;
  background: #111;
}

